.hr-center {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: fit-content;
}
button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: mediumpurple;
  font-weight: bold;
  padding: 16px;
}
a{
  text-decoration: none;
  color: mediumpurple;
}
