<mat-table class="mat-elevation-z8" [dataSource]="data.constructorDataSource" matSort
           *ngIf="data.constructorStandings.length > 0">
  <ng-container matColumnDef="drivers_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Constructor Name</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.constructor}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="constructor">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.nationality}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.position}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Points</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.points}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="wins">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Wins</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.wins}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="constructorColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: constructorColumns"></mat-row>

</mat-table>
<div class="divider"></div>
