<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="hr-center" *ngIf="data.driverStandings.length == 0">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-l">

  </div>
  <div class="col-sm">
    <mat-button-toggle-group value="driver">
      <mat-button-toggle value="driver" (change)="onValueChanged($event.value)">Driver Standings</mat-button-toggle>
      <mat-button-toggle value="constructor" (change)="onValueChanged($event.value)">Constructor Standings
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<ng-container *ngIf="isDriver && doneLoading">
  <app-driver-table></app-driver-table>
</ng-container>

<ng-container *ngIf="isConstructor ">
  <app-constructor-table></app-constructor-table>
</ng-container>

