<mat-table class="mat-elevation-z8" [dataSource]="data.driverDataSource" matSort
           *ngIf="data.driverStandings.length > 0 ">
  <ng-container matColumnDef="drivers_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Driver's Name</mat-header-cell>
    <mat-cell *matCellDef="let standing" >{{standing.drivers_name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.position}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef mat-sort-header >Points</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.points}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="wins">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Wins</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.wins}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="constructor">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Car Constructor</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.constructor}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="driverColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: driverColumns"></mat-row>

</mat-table>
<div class="divider"></div>
