<div class="mg-hr-8">
    <div class="row">
        <mat-form-field appearance="outline" class="fill-sm">
        <mat-label>Select column</mat-label>
        <mat-select (selectionChange)="setColumnName($event)">
          <mat-option *ngFor="let column of driverColumns" value="column">{{column}}</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="fill-sm">
        <mat-label>Filter</mat-label>
        <input matInput #filterInput (keyup)="filterByColumn($event)">
        </mat-form-field>
      </div>
    </div>
<mat-table class="mat-elevation-z8" [dataSource]="data.driverDataSource" matSort
           *ngIf="data.driverStandings.length > 0 ">
  <ng-container matColumnDef="drivers_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Driver's Name</mat-header-cell>
    <mat-cell *matCellDef="let standing" >{{standing.drivers_name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.position}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef mat-sort-header >Points</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.points}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="wins">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Wins</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.wins}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="constructor">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Car Constructor</mat-header-cell>
    <mat-cell *matCellDef="let standing">{{standing.constructor}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="driverColumns"></mat-header-row>
  <mat-row style="cursor: pointer" *matRowDef="let row; columns: driverColumns" (click)="showDriver(row)"></mat-row>

</mat-table>
<div class="divider"></div>
